.animal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #eb772a6c;
    position: absolute;

}

.animal-content{
    left: 26rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    position: absolute;
}

.inline{

    text-align:center;
    vertical-align:bottom;
}
.home-background{
    display: block;
    position: absolute;
    left: 0rem;
    bottom: 1rem;
/*     inline-size: auto;
    display: block;
    margin-left: auto;
    float: left;
    position: absolute;
    bottom: 1rem; */
}

.side-back{
/*     display: block;
    margin-left: auto;
    float: right;
    position: static;
    bottom: 1rem; */
    display: block;
    position: absolute;
    right: 0rem;
    bottom: 1rem;
}