.popup{
    position: fixed;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    background-color: ivory;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    color: black;
}
