.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #d69f79;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.home-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;

}
.inline{

    text-align:center;
    vertical-align:bottom;
}
.home-background{
    display: block;
    position: absolute;
    left: 0rem;
    bottom: 1rem;
/*     inline-size: auto;
    display: block;
    margin-left: auto;
    float: left;
    position: absolute;
    bottom: 1rem; */
}

.side-back{
/*     display: block;
    margin-left: auto;
    float: right;
    position: static;
    bottom: 1rem; */
    display: block;
    position: absolute;
    right: 0rem;
    bottom: 1rem;
}